{% extends 'base.html.twig' %}

{% block title %}Mentions légales - My Ankode{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Mentions légales</h1>
    <p>Contenu à venir...</p>
</div>
{% endblock %}